<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <label>Name:
    <input type="text" name="pirate[name]">
  </label>
  <br>
  <label>Weight:
    <input type="text" name="pirate[weight]">
  </label>
  <br>
  <label>Height:
    <input type="text" name="pirate[height]">
  </label>
  <br>
  <br>
  <br>

  <p>Ship 1:</p>
  <label>Ship Name:
    <input type="text" id="ship_name_1" name="pirate[ships][][name]" value="">
  </label>
  <br>
  <label>Ship Type:
    <input type="text" id="ship_type_1" name="pirate[ships][][type]" value="">
  </label>
  <br>
  <label>Ship Booty:
    <input type="text" id="ship_booty_1" name="pirate[ships][][booty]" value="">
  </label>
  <br><br>
  <p>Ship 2:</p>
  <label>Ship Name:
    <input type="text" id="ship_name_2" name="pirate[ships][][name]" value="">
  </label>
  <br>
  <label>Ship Type:
    <input type="text" id="ship_type_2" name="pirate[ships][][type]" value="">
  </label>
  <br>
  <label>Ship Booty:
    <input type="text" id="ship_booty_2" name="pirate[ships][][booty]" value="">
  </label>

  <br>
  <button type="submit">Submit</button>
</form>
